/*********************
HEADER STYLES
*********************/

.header {
  background-color: $black;
}

  #logo {
    margin: 0.75em 0;
    @include span(first 6 of 12);

    a {
      color: $white;
    }
  }
